<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Network Tools{% endblock %}</title>
        <link rel="icon" href="./favicon.ico">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

{#        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>#}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('bootstrap_js' ) }}
        {% endblock %}
    </head>

    <div class="container py-3">
        <header>
            <div class="header-nav d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <img style="" class="logo" height="40" width="40" src="./image/logo-419-419.png" alt="Network Tools" />
                    <span class="fs-4">Network Tools</span>
                </a>

                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <a class="me-3 py-2 text-dark text-decoration-none" href="{{ path('ping') }}">Ping</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="{{ path('traceroute') }}">Traceroute</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="{{ path('nslookup') }}">NsLookup</a>
                    <a class="py-2 text-dark text-decoration-none" href="{{ path('whois') }}">Whois</a>
                </nav>
            </div>


            <div class="p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">{% block header_title %}{% endblock %}</h1>
                <p class="fs-5 text-muted">{% block header_subtitle %}{% endblock %}</p>
            </div>

        </header>

        <body>
            {% block body %}{% endblock %}
        </body>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <span class="h5 text-danger fw-bold">Website under development. Be patient.</span>
                    <br/>
                    <span class="text-primary fw-bold"><a href="http://hemsy.fr/">See my other projects.</a></span>
                </div>
            </div>
        </footer>

    </div>
</html>
